*{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: lightgray;
}

header{
    top: 0;
    width: 100%;
    height: 10%;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #51badb;
}

#bar{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.div-search{
    background-color: #EFF5F5;
    border-radius: 5px;
}

#search{
    margin: 0 auto;
    width: 80%;
    background-color: blue;
    color: white; 
    border-width: 0em;
}

#tog{
    background-color: transparent;
    border: none;
}

#tog img{
    height: 2rem;
}

#logo{
    width: 120px;
}

#sign{
    background-color: #EFF5F5 ;
    border: 0px solid black;
    border-radius: 10px;
    padding: 10px;
    font-family: system-ui;
    font-weight: 600;
}

nav{
    width: 0;
    height: 100%;
    position: fixed;
    display: flex;
    left: 0;
    background-color: #EFF5F5;
    flex-direction: column;
    transition: 0.5s;
    overflow: hidden;
}

nav a{
    padding: 1rem;
    border-bottom: 1px solid gray;
}

section{
    background-color: white;
    padding: 10px;
}

#write{
    border-radius: 5px;
    border-width: 0px;
    width: 16em;
    height: 2.5em;
    background-color: #EFF5F5;
}

#myRange{
    
}

.categories{
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    text-align: center;
}

.categories img{
    width: 5rem;
    height: 5rem;
}

.servicesDiv{
    display: grid;
    grid-template-columns: repeat(1fr);
}

.service{
    border-bottom: 1px solid gray;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.direct{
    background-color: goldenrod;
    padding: 10px;
    border-radius: 20px;
}

.list{
    display: grid;
    grid-template-columns: auto;
}

.demand{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    border: none;
    border-bottom: 1px solid gray;
    height: 6.5rem;
    overflow: hidden;
    background-color: white;
}

.more{
    grid-column: 1/3;
    margin: 10px;
}

.more > img{
    width: 100%;
    margin-bottom: 1rem;
}

.profile{
    margin: 0 auto;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    align-items: center;
    border: 1px solid black;
}

ul{
    display: flex;
    list-style-type: none;
    grid-column-start: 1;
    grid-column-end: 3;
    border-width: 0px;
}

li{
    border: 0px solid gray;
    border-radius: 30px;
    background-color: lightblue;
    padding: 2px;
    margin: 1px;
}

footer{
    margin-top: 1rem;
    width: 100%;
    background-color: darkgray;
    text-align: center;
}

#ifsul{
    width: 15rem;
}

@media (min-width: 426px){
    nav{
        height: 0;
        width: 100%;
    }
    section{
        margin: 0 auto;
        width: 80%;
    }
    .servicesDiv{
        grid-template-columns: repeat(2, 1fr);
    }
    .list{
        grid-template-columns: auto auto;
    }
    
}